com.sun.mail:jakarta.mail:2.0.1
io.quarkus:quarkusarc:3.15.1
io.quarkus:quarkuselytronsecuritycommon:3.15.1
io.quarkus:quarkuselytronsecurityjdbc:3.15.1
io.quarkus:quarkushibernateormpanache:3.15.1
io.quarkus:quarkushibernateorm:3.15.1
io.quarkus:quarkusjdbcpostgresql:3.15.1
io.quarkus:quarkusmailer:3.15.1
io.quarkus:quarkusrestjsonb:3.15.1
io.quarkus:quarkusrest:3.15.1
io.quarkus:quarkussecurity:3.15.1
io.quarkus:quarkussmallryejwt:3.15.1
io.quarkus.arc:arc:3.15.1
io.quarkus:quarkuscore:3.15.1
org.eclipse.microprofile.contextpropagation:microprofilecontextpropagationapi:1.3
org.wildfly.security:wildflyelytroncredential:2.5.2.Final
org.wildfly.security:wildflyelytronpasswordimpl:2.5.2.Final
io.quarkus:quarkuselytronsecurity:3.15.1
io.quarkus:quarkusagroal:3.15.1
org.wildfly.security:wildflyelytronrealmjdbc:2.5.2.Final
io.quarkus:quarkushibernateormpanachecommon:3.15.1
io.quarkus:quarkuspanachecommon:3.15.1
io.quarkus:quarkusnarayanajta:3.15.1
org.hibernate.orm:hibernatecore:6.6.0.Final
net.bytebuddy:bytebuddy:1.14.18
org.hibernate.common:hibernatecommonsannotations:7.0.1.Final
org.hibernate.orm:hibernategraalvm:6.6.0.Final
org.glassfish.jaxb:jaxbruntime:4.0.5
jakarta.xml.bind:jakarta.xml.bindapi:4.0.2
jakarta.persistence:jakarta.persistenceapi:3.1.0
jakarta.transaction:jakarta.transactionapi:2.0.1
org.hibernate:quarkuslocalcache:0.3.0
io.quarkus:quarkuscaffeine:3.15.1
org.postgresql:postgresql:42.7.4
io.quarkus:quarkusvertx:3.15.1
io.quarkus:quarkustlsregistry:3.15.1
io.quarkus:quarkusqute:3.15.1
io.quarkus:quarkusmutiny:3.15.1
io.smallrye.reactive:smallryemutinyvertxmailclient:3.15.0
io.quarkus.resteasy.reactive:resteasyreactivejsonb:3.15.1
io.quarkus:quarkusrestjsonbcommon:3.15.1
io.quarkus:quarkusrestcommon:3.15.1
io.quarkus.resteasy.reactive:resteasyreactivevertx:3.15.1
io.quarkus:quarkusvertxhttp:3.15.1
io.quarkus:quarkusjsonp:3.15.1
io.quarkus:quarkusvirtualthreads:3.15.1
io.quarkus:quarkussecurityruntimespi:3.15.1
jakarta.interceptor:jakarta.interceptorapi:2.2.0
io.quarkus.security:quarkussecurity:2.1.0
jakarta.enterprise:jakarta.enterprise.cdiapi:4.1.0
io.smallrye:smallryejwt:4.5.3
jakarta.annotation:jakarta.annotationapi:3.0.0
io.quarkus:quarkussmallryejwtbuild:3.15.1
io.smallrye.reactive:mutiny:2.6.2
org.jboss.logging:jbosslogging:3.6.0.Final
jakarta.inject:jakarta.injectapi:2.0.1
io.smallrye.common:smallryecommonos:2.6.0
io.quarkus:quarkusidelauncher:3.15.1
io.quarkus:quarkusdevelopmentmodespi:3.15.1
io.smallrye.config:smallryeconfig:3.9.1
org.jboss.logmanager:jbosslogmanager:3.0.6.Final
org.jboss.logging:jbossloggingannotations:3.0.1.Final
org.jboss.threads:jbossthreads:3.6.1.Final
org.slf4j:slf4japi:2.0.6
org.jboss.slf4j:slf4jjbosslogmanager:2.0.0.Final
org.wildfly.common:wildflycommon:1.7.0.Final
io.quarkus:quarkusbootstraprunner:3.15.1
io.quarkus:quarkusfsutil:0.0.10
org.wildfly.security:wildflyelytronasn1:2.5.2.Final
org.wildfly.security:wildflyelytronkeystore:2.5.2.Final
org.wildfly.security:wildflyelytronproviderutil:2.5.2.Final
org.wildfly.security:wildflyelytronx500:2.5.2.Final
org.wildfly.security:wildflyelytronauthserver:2.5.2.Final
org.wildfly.security:wildflyelytronrealm:2.5.2.Final
jakarta.authorization:jakarta.authorizationapi:2.1.0
jakarta.authentication:jakarta.authenticationapi:3.0.0
io.quarkus:quarkusdatasource:3.15.1
io.agroal:agroalapi:2.5
io.agroal:agroalnarayana:2.5
io.agroal:agroalpool:2.5
io.quarkus:quarkuscredentials:3.15.1
org.wildfly.security:wildflyelytronauth:2.5.2.Final
org.wildfly.security:wildflyelytronutil:2.5.2.Final
io.quarkus:quarkuspanachehibernatecommon:3.15.1
io.quarkus:quarkustransactionannotations:3.15.1
io.quarkus:quarkusdatasourcecommon:3.15.1
io.smallrye:smallryecontextpropagationjta:2.1.2
io.smallrye.reactive:smallryereactiveconverterapi:3.0.1
io.smallrye.reactive:smallryereactiveconvertermutiny:3.0.1
io.smallrye.reactive:mutinyzeroflowadapters:1.1.0
org.jboss.narayana.jta:narayanajta:7.0.2.Final
org.jboss.narayana.jts:narayanajtsintegration:7.0.2.Final
com.fasterxml:classmate:1.7.0
org.antlr:antlr4runtime:4.13.0
org.glassfish.jaxb:jaxbcore:4.0.5
jakarta.activation:jakarta.activationapi:2.1.3
com.github.benmanes.caffeine:caffeine:3.1.5
io.quarkus:quarkusnetty:3.15.1
io.netty:nettycodechaproxy:4.1.111.Final
io.smallrye.common:smallryecommonannotation:2.6.0
io.smallrye.common:smallryecommonvertxcontext:2.6.0
io.quarkus:quarkusvertxlateboundmdcprovider:3.15.1
io.smallrye.reactive:smallryemutinyvertxcore:3.15.0
io.smallrye:smallryefaulttolerancevertx:6.4.0
io.quarkus.qute:qutecore:3.15.1
io.quarkus:quarkussmallryecontextpropagation:3.15.1
io.smallrye.reactive:mutinysmallryecontextpropagation:2.6.2
io.vertx:vertxmailclient:4.5.10
io.quarkus.resteasy.reactive:resteasyreactive:3.15.1
org.eclipse:yasson:3.0.4
jakarta.json.bind:jakarta.json.bindapi:3.0.1
org.jboss.logging:commonsloggingjbosslogging:1.0.0.Final
io.quarkus:quarkusjsonb:3.15.1
io.quarkus.resteasy.reactive:resteasyreactivecommon:3.15.1
io.vertx:vertxweb:4.5.10
io.quarkus.vertx.utils:quarkusvertxutils:3.15.1
jakarta.ws.rs:jakarta.ws.rsapi:3.1.0
io.smallrye.reactive:smallryemutinyvertxweb:3.15.0
io.github.crac:orgcrac:0.1.3
org.eclipse.parsson:parsson:1.1.7
io.vertx:vertxcore:4.5.10
jakarta.el:jakarta.elapi:5.0.1
org.eclipse.microprofile.config:microprofileconfigapi:3.1
org.eclipse.microprofile.jwt:microprofilejwtauthapi:2.1
org.bitbucket.b_c:jose4j:0.9.6
io.smallrye:smallryejwtcommon:4.5.3
io.smallrye:smallryejwtbuild:4.5.3
org.jctools:jctoolscore:4.0.5
io.smallrye.config:smallryeconfigcore:3.9.1
io.smallrye.common:smallryecommonconstraint:2.6.0
io.smallrye.common:smallryecommoncpu:2.6.0
io.smallrye.common:smallryecommonexpression:2.6.0
io.smallrye.common:smallryecommonnet:2.6.0
io.smallrye.common:smallryecommonref:2.6.0
jakarta.json:jakarta.jsonapi:2.1.3
io.quarkus:quarkusclassloadercommons:3.15.1
io.smallrye.common:smallryecommonio:2.6.0
org.wildfly.security:wildflyelytronx500cert:2.5.2.Final
org.wildfly.security:wildflyelytronbase:2.5.2.Final
org.wildfly.security:wildflyelytronpermission:2.5.2.Final
jakarta.servlet:jakarta.servletapi:6.0.0
org.jboss:jbosstransactionspi:8.0.0.Final
org.reactivestreams:reactivestreams:1.0.4
jakarta.resource:jakarta.resourceapi:2.1.0
org.eclipse.microprofile.reactivestreamsoperators:microprofilereactivestreamsoperatorsapi:3.0
org.eclipse.angus:angusactivation:2.0.2
org.glassfish.jaxb:txw2:4.0.5
com.google.errorprone:error_prone_annotations:2.30.0
io.netty:nettycodec:4.1.111.Final
io.netty:nettycodechttp:4.1.111.Final
io.netty:nettycodechttp2:4.1.111.Final
io.netty:nettyhandler:4.1.111.Final
com.aayushatharva.brotli4j:brotli4j:1.16.0
io.netty:nettybuffer:4.1.111.Final
io.netty:nettytransport:4.1.111.Final
io.smallrye.reactive:smallryemutinyvertxruntime:3.15.0
io.smallrye.reactive:vertxmutinygenerator:3.15.0
io.smallrye:smallryecontextpropagation:2.1.2
io.vertx:vertxauthcommon:4.5.10
io.quarkus.resteasy.reactive:resteasyreactivecommontypes:3.15.1
io.vertx:vertxwebcommon:4.5.10
io.vertx:vertxbridgecommon:4.5.10
io.smallrye.reactive:smallryemutinyvertxwebcommon:3.15.0
io.smallrye.reactive:smallryemutinyvertxauthcommon:3.15.0
io.smallrye.reactive:smallryemutinyvertxbridgecommon:3.15.0
io.smallrye.reactive:smallryemutinyvertxuritemplate:3.15.0
io.netty:nettycommon:4.1.111.Final
io.netty:nettyhandlerproxy:4.1.111.Final
io.netty:nettyresolver:4.1.111.Final
io.netty:nettyresolverdns:4.1.111.Final
com.fasterxml.jackson.core:jacksoncore:2.17.2
io.smallrye.common:smallryecommonclassloader:2.6.0
io.smallrye.config:smallryeconfigcommon:3.9.1
io.smallrye.common:smallryecommonfunction:2.6.0
org.wildfly.security:wildflyelytronx500certutil:2.5.2.Final
io.netty:nettytransportnativeunixcommon:4.1.111.Final
io.vertx:vertxcodegen:4.5.10
io.smallrye:smallryecontextpropagationapi:2.1.2
io.smallrye:smallryecontextpropagationstorage:2.1.2
io.vertx:vertxuritemplate:4.5.10
io.netty:nettycodecsocks:4.1.111.Final
io.netty:nettycodecdns:4.1.111.Final